<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I have always had a passion for video games, both as a player and developer. The way that games are able to hook and retain players fascinates me, and I aim to use my programming and design skills to make games which are easy to start, yet impossible to stop. In the past I've designed and programmed several simple games, as well as competed in coding competitions.  
            </p>
            <p class="paragraph-text justify-text">
                I am currently studying Electrical Engineering at UIUC. Additionally, I am a programmer/designer for <a href="https://games.illinois.edu/">stu/dio@uiuc</a>.
            </p>
        </div>
    </section>
</div>
