<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I have always had a passion for games. Starting with Pokemon, I worked hard to optimize the fun out of every game I touched, and eventually became interested in creating them as well. Over time, I've gained significant programming problem experience, as well as some game design experience.  
            </p>
            <p class="paragraph-text justify-text">
                I am currently a programmer/designer working for <a href="https://games.illinois.edu/">stu/dio@uiuc</a>.
            </p>
        </div>
    </section>
</div>
