<div class="section-wrapper">
    <section class="section" id="Armageddon">
        <div class="flexd">
            <div class="section-heading">Armageddon</div>
            
    
    
            
            <div class="carousel">
              <div class="carousel-images">
                <img src="assets/images/Armageddon.png" alt="Image 1">
                <img src="assets/images/arm1.png" alt="Image 2">
                <img src="assets/images/arm2.png" alt="Image 3">
              </div>
              <button class="carousel-button prev">‹</button>
              <button class="carousel-button next">›</button>
            </div>
    
            <p class="paragraph-text justify-text">
                "Armageddon" is a 2D Metroidvania-style game featuring several levels with exciting weapons and challenging gameplay. The project required designing complex levels, balancing gameplay difficulty, and making creative decisions to ensure an engaging, fast paced player experience. Using Unity, I also assisted in programming the game, implementing core mechanics.
            </p>
        </div>
    </section>
</div>
