
<div class="section-wrapper">
    <section class="section" id="BtB">
        <div class="flexd">
            <div class="section-heading">Bike the Bullet</div>
            
    
    
            
            <div class="carousel">
              <div class="carousel-images">
                <img src="assets/images/btbmm.png" alt="Image 4">
                <img src="assets/images/btb1.png" alt="Image 5">
                <img src="assets/images/btb2.png" alt="Image 6">
              </div>
              <button class="carousel-button prev">‹</button>
              <button class="carousel-button next">›</button>
            </div>
    
            <p class="paragraph-text justify-text">
                "Bike The Bullet" is a high-intensity bullet hell game inspired by streamer CDawgVA and his cyclathon cast, created for Monkey Jam 2024 under a harrowing 3-day time constraint. Leading a team of 4, I established a task list and timeline to manage the project efficiently. The development required writing systems breakdowns, designing game balance and gameplay loops, and making art and sound design decisions, alongside a ton of programming, done mostly by me.
            </p>
        </div>
    </section>
</div>
