
<div class="section-wrapper">
    <section class="section" id="BtB">
        <div class="flexd">
            <div class="section-heading">Bike the Bullet</div>
            
    
    
            
            <div class="carousel">
              <div class="carousel-images">
                <img src="assets/images/Armageddon.png" alt="Image 4">
                <img src="assets/images/Climatic.png" alt="Image 5">
                <img src="assets/images/Phishing.png" alt="Image 6">
              </div>
              <button class="carousel-button prev">‹</button>
              <button class="carousel-button next">›</button>
            </div>
    
            <p class="paragraph-text justify-text">
                test test test test test
            </p>
        </div>
    </section>
</div>
