<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            
                <div class="project-technologies">
                    <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">Featured</a>
                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">All</a>
                    <a id="gamejam" class="semi-transparent-button with-border white-button" onclick="selected('Game Jam')">Game Jam</a>
                    <a id="gamebuilders" class="semi-transparent-button with-border white-button" onclick="selected('GameBuilders')">GameBuilders</a>
                    <a id="stu/dio" class="semi-transparent-button with-border white-button" onclick="selected('Stu/dio')">stu/dio</a>
                    <a id="solo" class="semi-transparent-button with-border white-button" onclick="selected('Solo')">Solo</a>
                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>
