<div class="section-wrapper">
    <section class="section" id="Triplight">
        <div class="flexd">
            <div class="section-heading">Triplight</div>
            
    
    
            
            <div class="carousel">
              <div class="carousel-images">
                <img src="assets/images/triplight mm.png" alt="Image 7">
                <img src="assets/images/Climatic.png" alt="Image 8">
                <img src="assets/images/Phishing.png" alt="Image 9">
              </div>
              <button class="carousel-button prev">‹</button>
              <button class="carousel-button next">›</button>
            </div>
    
            <p class="paragraph-text justify-text">
                test test test test test
            </p>
        </div>
    </section>
</div>
