

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-images img {
  width: 100%;
  border-right: 2px solid #ccc;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

@media (max-width: 600px) {
  .carousel-button {
    padding: 5px;
  }

  .carousel-images img {
    border-right: none;
  }
}



.flexd {
  max-width: 768px;
  margin: 60px auto;
  padding: 20px 0;
  min-height: 100vh;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  flex-direction: column;
}
